.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgb(145, 100, 235) 0 5px 15px;
}

.text {
  font-size: 16px;
  text-align: start;
  margin-bottom: 6px;
}

.input {
  width: 350px;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--color-primary-white);
  background-color: rgb(66, 65, 65);
  border: 0.5px solid var(--color-primary-white);
  border-radius: 8px;
  transition: border var(--primary-transition);
}

.input:hover,
.input:focus {
  border: 1px solid var(--color-primary-white);
  outline: transparent;
}

.error {
  font-weight: 600;
  font-size: 14px;
  color: red;
}

.btn {
  border-radius: 8px;
  border: 1px solid var(--color-primary-white);
  color: var(--color-primary-white);
  padding: 8px 16px;
  background-color: rgb(66, 65, 65);
  cursor: pointer;
  transition: border-color var(--primary-transition);
}

.btn:hover {
  border-color: var(--color-active-purpul);
}

@media (max-width: 767px) {
  .form {
    width: 260px;
    margin-top: 40px;
  }

  .text {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .input {
    width: 230px;
  }
}
